/* Body styling start */
.main-body {
  background-color: #effffd;
}
/* Custom scrollbar styling from w3schools */
/* Width */
::-webkit-scrollbar {
  width: 1.2rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffe8eb;
  border: solid #ffb5bf;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fffdf0;
  border-radius: 50px;
  border: solid #966767;
}
/* Body styling stop------------------------------------------------------------------ */
/* Wrapper area */
.wrapper-inner {
  background-color: #ffffff;
  padding: 3rem;
  margin: 5rem;
  border-radius: 40px;
}
/* Header area */
.header {
  background-color: #ffeff2;
  padding: 1.5rem;
  border-radius: 60px;
}
.header__h1 {
  font-size: 5rem;
  color: #f4dbde;
  -webkit-text-stroke: 1.5px #b17f7f;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0.5rem;
}
.header__h2 {
  font-size: 2rem;
  color: #b17f7f;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0.5rem;
}
/* Marquee header area start */
.marquee-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.marquee-text {
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  animation: marquee 5s linear infinite; /* Animation for scrolling */
}

.marquee-text--background {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(208, 255, 201, 1) 100%
  );
  padding: 1rem;
  width: 100%;
  border-radius: 30px;
  border-radius: 30px;
}
@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start off-screen on the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen on the left */
  }
}
/* Marquee header area stop------------------------------------------------------------------*/
/* Main area------------------------------------------------------------------ */
/* Navigation start */
/* Ornate Div Scroll from pastelhello.com */
.innerornate::-webkit-scrollbar-track {
  border-radius: 0px;
}
.innerornate::-webkit-scrollbar {
  width: 7px;
}
.innerornate::-webkit-scrollbar-thumb {
  background: #fffdf0;
  border: solid #966767;
}
.innerornate {
  width: 200px;
  height: 221px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #102e1c;
  font-family: Verdana;
  font-size: 9px;
  letter-spacing: 1.5px;
  line-height: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}
.ornatediv {
  width: 244px;
  height: 265px;
  border: dashed #ffd2d8;
  border-radius: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}
/* Ornate Div Scroll from pastelhello.com stop ------------------------------------------------------------------ */
/* Main grid */
.index-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 10px;
  width: 100%;
  height: 100vh;
}
.index-main__second-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-column: span 2;
  width: 100%;
}
/* Main grid stop */
/* Introduction */
.introduction {
  border: dashed #ffd2d8;
  padding: 5rem;
  border-radius: 50px;
  text-align: center;
}
